# Required Variables
APP_HOST=http://localhost:3000
SUPABASE_URL=https://bd-id.supabase.co
SUPABASE_KEY=sua-chave
SUPABASE_ACCESS_TOKEN=sua-chave

# Optional Variables
# API_HOST= # Default is http://localhost:3001